.lista-1 li:first-child {
  background-color: #caf;
}

.lista-1 li:last-child {
  background-color: #cfa;
}

.lista-1 li:nth-child(3) {
  background-color: #cfa;
}

.lista-2 li:nth-child(2n) {
  background-color: #cfa;
}

.lista-3 li:not(:last-child, :first-child) {
  background: #caf;
}

h2:not(:first-child, .contato) {
  text-decoration: underline;
}
