div {
  background-color: #aaa;
  color: #000;
  width: 140px;
  height: 80px;
  padding: 30px;
  border: 10px solid black;
  margin: 30px;
}

body {
  margin: 0px;
}

h1 {
  width: 150px;
  background-color: #84e;
  padding: 20px;
  border: 4px solid black;
  margin-top: 35px;
  margin-left: 35px;
}
